:root {
  --deep-blue: hsla(252, 100%, 10%, 1);
  --deep-blue-50: hsla(240, 10%, 54%, 1);
  --deep-blue-10: hsla(240, 10%, 86%, 1);
  --deep-blue-30: hsla(240, 10%, 72%, 1);
  --deep-blue-80: hsla(243, 25%, 28%, 1);
  --energy-blue: hsla(196, 94%, 72%, 1);
  --energy-blue-10: hsla(192, 94%, 94%, 1);
  --energy-purple: hsla(256, 81%, 57%, 1);
  --energy-purple-10: hsla(255, 78%, 93%, 1);
  --energy-purple-30: hsla(255, 80%, 86%, 1);
  --energy-purple-50: hsla(256, 79%, 77%, 1);
  --system-background: hsla(180, 3%, 94%, 1);
  --green-10: hsla(161, 93%, 94%, 1);
}

html {
  box-sizing: border-box;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "Faktum", sans-serif;
}

.main-width {
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
}
header {
  position: fixed;
  top: 0;
  z-index: 99;
  width: 100%;
  background-color: hsla(252, 100%, 10%, 0.5);
  transition: all 0.4s ease;
}
header.hide-bar {
  top: -110px;
}
.header-bar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}
img.logo {
  height: 48px;
}
header a {
  cursor: pointer;
  text-decoration: none;
}
.nav-menu {
  position: relative;
}
.nav-button {
  display: flex;
  align-items: center;
  color: #fff;
  gap: 8px;
  font-weight: 600;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
nav {
  position: absolute;
  top: 40px;
  left: 0;
  width: 180px;
  display: none;
}
nav a {
  text-decoration: none;
  color: var(--deep-blue);
  background-color: var(--energy-purple-10);
  border-top: 1px solid var(--deep-blue-30);
  border-bottom: 1px solid var(--deep-blue-30);
  font-size: 14px;
  padding: 10px 14px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
nav a:hover {
  background-color: var(--energy-purple-30);
  border-top: 1px solid var(--energy-purple-50);
  border-bottom: 1px solid var(--energy-purple-50);
}

section {
  padding-top: 60px;
  padding-bottom: 60px;
}

h2 {
  font-size: 32px;
  font-weight: 500;
  margin-top: 0;
}

.welcome-section {
  padding: 0;
  height: 560px;
  /* background-image: url("images/welcome-img.jpg"); */
  background: url("images/welcome-masked-img.png"),
    /* linear-gradient(270deg, #d9d9d9 0%, rgba(217, 217, 217, 0) 100%), */
      linear-gradient(
        90deg,
        /* hsla(252, 100%, 0%, 1) 0%, */ hsla(252, 100%, 10%, 1) 0%,
        hsla(256, 81%, 27%, 1) 35%,
        rgba(96, 65, 188, 0.394) 80%
      ),
    linear-gradient(360deg, #000 0%, #0a0034 30%, rgba(10, 0, 52, 0) 100%);

  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: contain, 100% 100%, 100% 40%;
  background-position: right, left, bottom;
}

.welcome-content {
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.welcome-content h1 {
  margin: 0;
  font-size: 42px;
  font-weight: 500;
}
.welcome-content h1,
.welcome-content p {
  max-width: 700px;
}

.about-section {
  background: linear-gradient(
      180deg,
      #000 0%,
      #0a0034 30%,
      var(--deep-blue) 100%
    ),
    url("images/decor/about-mask.png");
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.about-content {
  color: #fff;
}
.about-par {
  max-width: 400px;
  text-align: justify;
}
.about-texts {
  display: flex;
  height: 100%;
  justify-content: space-between;
  margin-top: 60px;
}
.about-texts h3 {
  margin-bottom: 40px;
}
.about-approach {
  border-right: 1px solid var(--deep-blue-50);
  width: 70%;
  padding-right: 40px;
}
.about-commitment {
  /* border: 1px solid red; */
  padding-left: 40px;
  flex: 1;
}
.approach-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px;
}
.about-texts p {
  /* border: 1px solid red; */
  text-align: justify;
  color: var(--deep-blue-10);
}
.approach-item h4,
.approach-item p {
  padding: 0 16px;
  border-left: 4px solid transparent;
}
.approach-item h4 {
  color: var(--energy-purple-50);
  font-weight: 600;
  border-left: 4px solid var(--energy-purple-50);
  margin: 0;
}

/*******/
/*******/
/*governance section */
/*******/
/*******/

.governance-section {
  background-image: url("images/decor/bg-vector-2.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.pie-container {
  /* border: 1px solid red; */
  width: 65vh;
  height: 65vh;
  margin: 60px auto;
  position: relative;
}
.pie-container .center {
  position: absolute;
  z-index: 2;
  top: 30%;
  bottom: 30%;
  left: 30%;
  right: 30%;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: 500;
}
.circle {
  position: absolute;
  z-index: 0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 50%;
  background-color: white;
}
.slice {
  position: absolute;
  z-index: 1;
  background-color: var(--energy-purple-10);
  /* width: 400px;
  height: 400px; */
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  clip-path: polygon(50% 0%, 100% 0%, 100% 16.66%, 52% 49%);
  border-radius: 50%;
  transform: rotate(-26deg);
  transition: transform 0.8s ease;
}
.slice:hover {
  transform: rotate(-26deg) scale(1.3);
  background-color: var(--green-10);
}
.slice-text {
  position: absolute;
  top: 12%;
  right: 28%;
  z-index: 3;
  font-size: 12px;
  transform: rotate(26deg);
  color: var(--energy-purple);
  font-weight: 500;
  max-width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
  text-align: center;
}
#slice-2 {
  transform: rotate(34deg);
}
#slice-2 .slice-text {
  transform: rotate(-34deg);
  right: 24%;
}
#slice-2:hover {
  transform: rotate(34deg) scale(1.3);
}
#slice-3 {
  transform: rotate(94deg);
}
#slice-3 .slice-text {
  transform: rotate(-94deg);
  top: 10%;
  right: 22%;
}
#slice-3:hover {
  transform: rotate(94deg) scale(1.3);
}
#slice-4 {
  transform: rotate(154deg);
}
#slice-4 .slice-text {
  transform: rotate(-154deg);
  top: 10%;
  right: 25%;
}
#slice-4:hover {
  transform: rotate(154deg) scale(1.3);
}
#slice-5 {
  transform: rotate(214deg);
}
#slice-5 .slice-text {
  transform: rotate(-214deg);
  top: 12%;
  right: 30%;
}
#slice-5:hover {
  transform: rotate(214deg) scale(1.3);
}
#slice-6 {
  transform: rotate(274deg);
}
#slice-6 .slice-text {
  transform: rotate(-274deg);
  top: 10%;
  right: 30%;
}
#slice-6:hover {
  transform: rotate(274deg) scale(1.3);
}

/*******/
/*******/
/*resources section */
/*******/
/*******/

.resources-section {
  background-color: var(--system-background);
}
.resource-logos {
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
}
a.resource-item {
  width: 200px;
  max-width: 270px;
  height: 160px;
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 24px 0 0;
  border: 1px solid var(--energy-purple-30);
  background-color: #fff;
}
a.resource-item:hover {
  border-color: var(--energy-purple);
}
.resource-item img {
  max-width: 80%;
}

/*******/
/*******/
/*analytics section */
/*******/
/*******/

.analytics-section {
  background-image: url("images/decor/intersect.png");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
  padding-bottom: 120px;
}
.analytics-section iframe {
  width: 100%;
  height: 95vh;
}

/*******/
/*******/
/*team section */
/*******/
/*******/

.profile {
  background-color: #fff;
  border-radius: 0 24px 0 0;
  margin: 3px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  cursor: pointer;
  flex-grow: 1;
  /* min-width: 270px; */
  text-overflow: ellipsis;
}
.leader-row {
  /* border: 1px solid red; */
  min-height: 300px;
  display: flex;
  justify-content: space-between;
  gap: 32px;
}
.leader-profile {
  border: 1px solid var(--energy-purple-30);
  margin: 2px;
  padding: 28px;
}
.profile:hover,
.profile.expand {
  border: 3px solid var(--energy-purple);
  margin: 0;
}
.profile-pic {
  margin-bottom: 20px;
  border-radius: 50%;
  border: 1px solid var(--system-background);
  width: 260px;
  height: 260px;
  overflow: hidden;
}
.profile-pic img {
  width: 100%;
  height: auto;
}
.person-data {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px;
  color: var(--deep-blue);
}
.person-data h4,
.person-data h5,
.person-data h6,
.see-more {
  font-weight: 500;
  margin: 0;
  text-align: left;
}
.person-data h4 {
  font-size: 28px;
}
.person-data.profile h4 {
  font-size: 20px;
}
.person-data h5 {
  font-size: 16px;
}
.person-data h6 {
  font-size: 12px;
  color: var(--deep-blue-50);
}
.person-data .links {
  display: flex;
}
.person-data a:first-child {
  margin-right: 20px;
}
.person-data a,
.see-more {
  font-size: 16px;
  font-weight: 600;
  color: var(--energy-purple);
  display: flex;
  align-items: center;
}
.person-data a:hover {
  text-decoration: underline;
}
.see-more {
  gap: 10px;
  width: fit-content;
  padding: 0;
  cursor: pointer;
  margin-top: 32px;
  background-color: transparent;
  border: none;
}
.see-more img {
  transform: rotate(90deg);
}
.profile.expand .see-more img {
  transform: rotate(-90deg);
}
.team-layer {
  background-color: var(--energy-purple-30);
  border-radius: 0 24px 0 0;
  color: var(--deep-blue);
  font-size: 14px;
  padding: 24px;
  margin-top: 20px;
}
.team-layer.first {
  background-color: var(--energy-purple-10);
}
.team-layer .teams {
  margin-top: 20px;
  /* display: flex;
  flex-wrap: wrap; */
  gap: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

/*******/
/*******/
/*trainings section */
/*******/
/*******/

.trainings-section .main-width {
  position: relative;
}
.cal-nav {
  /* margin: -54px 0 40px auto; */
  position: absolute;
  right: 0;
  top: 10px;
  font-size: 24px;
  color: var(--energy-purple);
}
.cal-nav a {
  cursor: pointer;
}
.cal-nav a:first-child img {
  transform: rotate(180deg);
}
.cal-nav span {
  margin: 0 10px;
}
.calendar {
  font-size: 14px;
  color: var(--deep-blue-80);
  position: relative;
}
.cal-row {
  display: flex;
}
.cal-row .cal-day:last-child {
  border-radius: 0 12px 0 0;
  border-right: 1px solid var(--deep-blue-30);
}
.cal-row .cal-date:last-child {
  border-right: 1px solid var(--deep-blue-30);
}
.cal-day {
  flex: 1;
  border: 1px solid var(--deep-blue-30);
  border-right: none;
  padding: 8px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cal-date {
  flex: 1;
  border-left: 1px solid var(--deep-blue-30);
  border-bottom: 1px solid var(--deep-blue-30);
  padding: 4px;
  height: 11vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cal-date.grey-date {
  color: var(--energy-purple-30);
}
.cal-date > div {
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.cal-event {
  display: flex;
  justify-content: space-between;
  padding: 4px 6px;
  border-radius: 0 4px 0 0;
  border: 1px solid var(--energy-purple);
  background-color: var(--energy-purple-10);
  font-size: 10px;
  font-weight: 600;
  color: var(--deep-blue);
  cursor: pointer;
}
.cal-event span:last-child {
  /* font-size: 10px; */
  font-weight: 400;
  /* color: var(--deep-blue); */
}

.event-popup {
  position: absolute;
  display: none;
  width: 40vw;
  height: 45vh;
  left: calc(50% - 20vw);
  top: calc(50% - 20vh);
  border: 1px solid var(--energy-purple-30);
  border-radius: 0 24px 0 0;
}
#event-info {
  background-color: white;
  flex: 1;
  padding: 32px;
}
#event-form {
  border-radius: 0 24px 0 0;
  flex: 1;
  padding: 32px;
  background-color: var(--energy-purple-10);
}
#close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 6px 10px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
#event-form h5 {
  font-weight: 500;
  font-size: 18px;
  color: var(--deep-blue);
}
.form-input {
  display: flex;
  flex-direction: column;
}
.form-input label {
  color: var(--deep-blue-80);
  margin-bottom: 4px;
  font-weight: 500;
  font-size: 12px;
}
.form-input input {
  border-radius: 0 12px 0 0;
  border: 1px solid var(--energy-purple-30);
  margin-bottom: 8px;
  height: 32px;
}
#event-form button {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  background-color: var(--energy-blue);
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 0 12px 0 0;
  font-weight: 600;
  font-size: 12px;
}
#event-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#event-info h4 {
  font-weight: 500;
  font-size: 20px;
  color: var(--deep-blue);
  margin: 0;
}
.organizer {
  display: flex;
  align-items: center;
  font-size: 14px;
  margin-top: 14px;
  margin-bottom: 10px;
}
.organizer > div {
  display: flex;
  flex-direction: column;
  padding-left: 8px;
}
.organizer-name {
  font-weight: 600;
}
.organizer img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
.event-span {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

/*******/
/*******/
/*gallery section */
/*******/
/*******/

a#gallery-link {
  float: right;
  margin-top: -54px;
  text-decoration: none;
  color: var(--energy-purple);
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 8px;
}
a#gallery-link:hover {
  text-decoration: underline;
}
@keyframes slideLeft {
  100% {
    transform: translateX(-75%);
  }
}
@keyframes slideRight {
  100% {
    transform: translateX(75%);
  }
}
.slide-wrapper {
  width: 100vw;
  height: 432px;
  overflow: hidden;
  position: relative;
}
.gallery-row {
  /* border: 1px solid red; */
  /* width: 100%; */
  height: 200px;
  display: flex;
  /* gap: 32px; */
  position: absolute;
}
.gallery-row .image-wrapper {
  /* border: 1px solid green; */
  width: 280px;
  height: 100%;
  border-radius: 0 24px 0 0;
  overflow: hidden;
  margin-right: 32px;
}
.gallery-row img {
  object-fit: cover;
  /* height: 100%;
  width: auto; */
}
#row-slide-right {
  right: 0;
  bottom: 0;
  /* float: right; */
  margin-top: 32px;
  animation: slideRight 22s linear infinite;
}
#row-slide-left {
  animation: slideLeft 22s linear infinite;
}

/*******/
/*******/
/*news section */
/*******/
/*******/

.news-section {
  background-image: url("images/decor/bg-vector.png");
  background-size: 100%;
  background-repeat: no-repeat;
}
.news-slider {
  margin-top: -54px;
}
.news-nav {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.news-nav button {
  padding: 8px;
  background-color: var(--deep-blue-50);
  border-radius: 0 8px 0 8px;
  border: none;
  width: 40px;
  height: 40px;
}
.news-nav button.enabled {
  cursor: pointer;
  background-color: var(--deep-blue);
}
.news-prev img {
  transform: rotate(180deg);
}
.news-wrapper {
  display: flex;
  gap: 32px;
  margin-top: 20px;
}
.news-item {
  /* border: 1px solid red; */
  background-color: var(--system-background);
  min-width: 380px;
  max-width: 400px;
  flex-grow: 1;
  border-radius: 0 48px 0 0;
  position: relative;
}
.news-date {
  width: 64px;
  height: 64px;
  position: absolute;
  top: 18px;
  left: 18px;
  background-color: var(--energy-purple);
  border-radius: 0 8px 0 0;
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.news-date span:first-child {
  font-size: 28px;
}
.news-date span:last-child {
  font-weight: 600;
  text-transform: uppercase;
}
.news-thumbnail {
  /* border: 1px solid red; */
  border-radius: 0 48px 0 48px;
  overflow: hidden;
  height: 250px;
  width: 100%;
}
.news-thumbnail img {
  object-fit: cover;
  width: 100%;
}
.news-tags span {
  padding: 4px 6px;
  background-color: var(--energy-purple-10);
  font-size: 12px;
  font-weight: 500;
  color: var(--energy-purple);
  text-transform: uppercase;
  margin-right: 4px;
}
.news-info {
  padding: 20px;
}
.news-info h5 {
  font-weight: 500;
  font-size: 20px;
  color: var(--deep-blue);
  margin: 0;
  margin-top: 8px;
}
.news-info p {
  color: var(--deep-blue-80);
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.news-info a {
  display: flex;
  gap: 10px;
  align-items: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: var(--energy-purple);
}
.news-info a img {
  color: var(--energy-purple);
}
.news-info a:hover {
  text-decoration: underline;
}

/*******/
/*******/
/*procurement section */
/*******/
/*******/

.proc-wrapper {
  /* border: 1px solid red; */
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  gap: 32px;
}
.proc-tabs {
  /* border: 1px solid green; */
  display: flex;
  flex-direction: column;
  width: 360px;
}

.proc-tabs > div:first-child {
  border-top: 1px solid var(--deep-blue-10);
}
.proc-tabs > div {
  flex-grow: 0;
  height: 60px;
  /* width: 100%; */
  border-bottom: 1px solid var(--deep-blue-10);
  padding: 24px;
  cursor: pointer;

  font-size: 20px;
  font-weight: 500;
  color: var(--deep-blue);
  display: flex;
  align-items: center;
}
.proc-tabs .active {
  cursor: auto;
  width: calc(360px - 48px);
  flex-grow: 1;
  align-items: flex-end;
  font-size: 32px;
  background-color: var(--energy-purple-10);
  border-color: var(--energy-purple);
  background-image: url("images/decor/tab-vector.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.proc-content {
  /* border: 1px solid blue; */
  /* min-height: 500px; */
  flex: 1;
}
.proc-content > div {
  padding: 24px;
}
#proc-content-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  gap: 20px;
}
#proc-content-1 > div {
  display: flex;
  align-items: center;
}
#proc-content-1 > div:nth-child(even) {
  width: 80%;
}
#proc-content-1 img {
  height: 170px;
}
.obj-text {
  padding: 0 24px;
  background-color: var(--energy-purple-10);
  height: 166px;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}
.obj-text h5 {
  margin: 0;
  color: var(--deep-blue);
  font-size: 20px;
  font-weight: 500;
}
.obj-text p {
  margin: 0;
  color: var(--deep-blue-80);
  /* font-size: 20px;
  font-weight: 500; */
}

#proc-content-2 {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
#proc-content-2 > div {
  display: flex;
  gap: 16px;
}
#proc-content-2 > div > div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 0 16px 0 0;
  padding: 20px;
  gap: 14px;
}
#proc-content-2 > div > p {
  font-size: 18px;
  font-weight: 500;
  color: var(--deep-blue-80);
  margin: 0;
}
#proc-content-2 > div .small {
  flex-grow: 1;
}
#proc-content-2 > div .big {
  flex-grow: 2;
}
#proc-content-2 > div .gray {
  background-color: var(--system-background);
}
#proc-content-2 > div .blue {
  background-color: var(--energy-blue-10);
}
#proc-content-2 > div .green {
  background-color: var(--green-10);
}
#proc-content-2 > div .purple {
  background-color: var(--energy-purple-10);
}

#proc-content-3 {
  flex-direction: column;
  text-align: center;
}
#proc-content-3 h4 {
  font-size: 28px;
  font-weight: 500;
  margin: 0 auto 16px;
}
#proc-content-3 h5 {
  margin-bottom: 0px;
  font-weight: 500;
  font-size: 20px;
  color: var(--deep-blue);
}
.executive-row {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.executive-member {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.executive-member img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.executive-member span.name {
  margin-top: 6px;
  font-size: 14px;
  font-weight: 600;
}
.executive-member span.role {
  font-size: 10px;
}
.members-row {
  display: flex;
  gap: 24px;
  margin-top: 20px;
}
.members-row > div {
  flex: 1;
}
.members-row .team-gray-bg {
  background-color: var(--system-background);
  border-radius: 0 16px 0 0;
  padding: 20px;
}
.members-row h6 {
  margin: 0 0 20px 0;
  text-align: left;
  font-weight: 500;
  font-size: 18px;
  color: var(--deep-blue);
}
.member-profile {
  display: flex;
  gap: 8px;
  align-items: center;
  margin-top: 14px;
}
.member-profile div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
.member-profile div span {
  font-size: 14px;
  font-weight: 600;
  color: hsla(0, 0%, 20%, 1);
}
.member-profile div span:last-child {
  font-weight: 400;
  color: hsla(0, 0%, 40%, 1);
}
.member-profile img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}
#proc-content-3 .work {
  padding: 24px;
  text-align: center;
  border: 1px solid var(--energy-purple);
  border-radius: 0 16px 0 0;
}
#proc-content-3 .work h6 {
  font-size: 20px;
  text-align: center;
  margin: 0 0 4px 0;
}
#proc-content-3 .work span {
  font-size: 12px;
  color: var(--deep-blue);
  display: block;
}

#proc-content-4 {
  display: flex;
  flex-direction: column;
}
.workstream-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.workstream-graphic {
  /* border: 1px solid red; */
  min-width: 295px;
  height: 265px;
  position: relative;
}
.graph-bg {
  position: absolute;
  z-index: 0;
  top: 35px;
  left: calc(50% - 90px);
}
.graph-bg img {
  position: absolute;
}
.graph-bg img:nth-child(2) {
  rotate: 120deg;
  translate: 70px 118px;
}
.graph-bg img:last-child {
  rotate: 240deg;
  translate: -65px 120px;
}
.stream-circle {
  border-radius: 50%;
  border: 2px solid var(--energy-purple-50);
  background-color: var(--energy-purple-30);
  width: 105px;
  height: 105px;
  position: absolute;
  z-index: 1;
}
.stream-circle.hovering {
  background-color: var(--energy-purple-50);
}
.stream-circle.active {
  background-color: var(--energy-purple);
}
#stream-1-circle {
  top: -16px;
  left: calc(50% - 54.5px);
}
#stream-2-circle {
  right: 0;
  top: 50%;
}
#stream-3-circle {
  top: 50%;
}
#center-circle {
  position: absolute;
  z-index: 2;
  top: 28%;
  left: calc(50% - 70px);
  width: 120px;
  height: 120px;
  border: 10px solid white;
  background-color: var(--energy-purple);
  border-radius: 50%;
}
#center-circle.inactive {
  background-color: var(--energy-purple-50);
}

.workstream-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-left: 24px;

  font-size: 12px;
}
.stream-item {
  display: flex;
  align-items: center;
  color: var(--deep-blue-50);
  cursor: pointer;
}
.stream-item h5 {
  margin: 0;
  margin-bottom: 4px;
  font-size: 20px;
  font-weight: 500;
}
.stream-item > div:nth-child(2) {
  min-width: 60%;
  border-left: 1px solid var(--energy-purple-30);
}
.stream-item img {
  rotate: 90deg;
  padding-left: 8px;
  opacity: 0;
}
.stream-item:hover,
.stream-item.active {
  color: var(--deep-blue);
}
.stream-item:hover img,
.stream-item.active img {
  opacity: 1;
}

.stream-table {
  /* border: 1px solid red; */
  margin-top: 20px;
  width: 100%;
  display: none;
}
.stream-table table {
  width: 100%;
  font-weight: 500;
  font-size: 12px;
  color: var(--deep-blue-80);
  border-spacing: 0;
}
.stream-table td,
.stream-table th {
  border: 0.5px solid var(--deep-blue-10);
  padding: 8px;
}
.stream-table td {
  vertical-align: top;
}
.stream-table th {
  background-color: var(--system-background);
}
.stream-table ul {
  margin: 0;
  padding-left: 12px;
}

/*******/
/*******/
/*footer section */
/*******/
/*******/

footer {
  background-color: var(--deep-blue);
  padding: 80px 0;
  /* display: flex;
  justify-content: space-between; */
  color: #fff;
}

footer .main-width {
  display: flex;
  justify-content: space-between;
}

footer img {
  max-width: 250px;
}

footer a {
  /* border: 1px solid red; */
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
}
footer a:hover {
  text-decoration: underline;
}

.footer-menu-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
}

@media screen and (max-width: 1200px) {
  .main-width {
    max-width: 90vw;
  }
}
